<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notification_mode.name %>
</p>


<%= link_to 'Edit', edit_notification_mode_path(@notification_mode) %> |
<%= link_to 'Back', notification_modes_path %>
