@import 'twitter-bootstrap/bootstrap';
@import 'bootstrap-datetimepicker';

body {
  width: 1000px;
  margin: 0 auto;
}

#datetimepicker, #datetimepicker1, #percent_threshold {
  display: inline;
}
#datetimepicker input {
  width: 80px;
}
#datetimepicker1 input {
  width: 80px;
}
#percent_threshold input {
  width: 40px;
}
#refresh {
  float: right;
}

#table {
  max-height: 700px;
  overflow: auto;
}